# To be done
.vscode/
__pycache__/
*.ipynb_checkpoints/

# directory for birdset data
data_birdset/

# directory for pretrained weights
pretrained_weights/
output/

# logs
lightning_logs/
wandb/
*err
*log